Django>=6.0,<6.1
django-mongodb-backend>=6.0,<6.1
pymongo>=4.7,<5.0
dnspython>=2.6,<3.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
python-dotenv
gunicorn
whitenoise
pillow
google-auth
google-api-python-client
requests>=2.31.0
cloudinary
django-cloudinary-storage